* 
  padding:0
  margin:0
body
  overflow: hidden
  display:block
  width: 100%
  height: 100%

#canvas
  position:relative
  border:1px solid grey
  overflow: hidden
  z-index:1
    
.ball
  position: absolute
  border-radius: 5px
  background: black

.paddle
  position:absolute
  background:grey
  z-index:2
  border-radius:5px

.brick
  position:absolute
  border-radius:2px
  background:green

.bonus
  position:absolute
  background: pink
  width:30px
  height:30px
  z-index:3

.bonus_text
  position:absolute
  color:green
  z-index:4